
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.04em;     
}


body{ 
    background: #34568B; 
    font-family: 'Roboto', Arial, Helvetica, sans-serif; 
    font-size: 100%; 
    line-height: 1.7em;
    letter-spacing: .6px;
    margin: 0; 
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#register{
    margin: 8vh auto;
    padding: 3.125rem 5rem 1.875rem 5rem;
    width: 16.25rem;
    text-align: center;
    border-radius: 1.25rem;
    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@media (max-width: 460px) {
    #register{
        margin: 8vh auto;
        padding: 3.125rem 1rem 1.875rem 1rem;
        width: 16.25rem;
        text-align: center;
        border-radius: 1.25rem;
        background: rgba( 255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    p { 
        font-size: .9em;
    }
    h1{
        font-size: 1.8em;
    }
    .p-appname{
        font-size: 1.8em !important;
    }
}

.header-form{
    margin-top: 24px;
    margin-bottom: 32px;
}

h1{
    color: #fff;
    margin-bottom: 16px;
    color:rgba( 255, 255, 255, 0.7);
}
.p-appname{
    color: #fff;
    font-size: 2.5em;
    font-weight: 1000;
    animation: change-color 6s ease-in-out infinite;

}
@keyframes change-color {
    0%   {color:rgba( 255, 255, 255, 0.5);}
    50% {color: #fff;}
    100%   {color:rgba( 255, 255, 255, 0.5);}
}

label{
    color: rgba( 255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 7px;
    display: block;
    border-radius: 20px;
    text-align: justify;
    margin-left: 3px;
}

input{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #fff;
    color: #34568B;
    outline: none;
}

input:hover {
    color: #fff;
    background: #92A8D1;
    background: rgba( 255, 255, 255, 0.1);
}
input:focus{
    color: #fff;
    background: #92A8D1;
    background: rgba( 255, 255, 255, 0.1);
}


.button{
    color: #fff;
    background: rgba( 255, 255, 255, 0.1);
    margin-top: 16px;
    font-weight: 600;
    font-size: 1.1em;
}
.button:hover{
    animation: change-color-alt .2s ease-in;
    animation-fill-mode: forwards;
}
@keyframes change-color-alt {
    0% {background: rgba( 255, 255, 255, 0.1); color: #fff;}
    100%   {background: #fff; color: #34568B}
}

.button-alt{
    text-align: justify;
    text-align: end;
    margin-left: 160px;
}
.button-input-alt{
    margin-bottom: 0px;
    background: None;
    color:rgba( 255, 255, 255, 0.9);
    border-color: rgba( 255, 255, 255, 0.18 );
    font-weight: 300;
}

.error-msg{
    color: yellow;
    font-size: 1em;
    font-weight: 300;
    
}